/* https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?cs=srgb&dl=daylight-environment-forest-459225.jpg&fm=jpg */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url(https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?cs=srgb&dl=daylight-environment-forest-459225.jpg&fm=jpg);
    background-position: center;
    background-size: cover;
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
}
.lake {
    position: relative;
    left: -50px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding-left: 10px;
    padding-right: 10px;
}
.travel {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 10px;
}