body{
    font-family: arial, sans-serif;;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.25);
    padding: 20px;
    box-sizing: border-box;
}
.card h2 {
    margin-bottom: 10px;
    color: darkgrey;
}
